    <mat-toolbar class="example-toolbar">
      <span class="full-right"><h3>Estuedio Edgardo Villafañe</h3></span>
      <button mat-raised-button color="primary" class="ov-y mr-1"
      matBadge="{{Messages}}" matBadgePosition="before" matBadgeColor="accent" routerLink="preguntas">
      <mat-icon>message</mat-icon>
        Mensajes
      </button>
      <span>
        <button mat-raised-button color="warn"> Cerrar sessión </button>
      </span>
    </mat-toolbar>
    <mat-sidenav-container  opened class="container-sidenav">
  
        <mat-sidenav #snav opened mode="side">
          <mat-nav-list>
            <mat-list dense>
            <mat-list-item (click)="goUsuarios()">
              <mat-icon>account_circle</mat-icon> <a>Usuarios</a> 
            </mat-list-item>
            <mat-list-item (click)="goProyecto()">
              <mat-icon>assignment</mat-icon> <a>Proyectos</a> 
            </mat-list-item>
          </mat-list>
          </mat-nav-list>
        </mat-sidenav>
  
        <mat-sidenav-content class="sidenav-content">
          <section class="backend">
            <button>Ir a cualquier componente</button>
          </section>
        </mat-sidenav-content>
  </mat-sidenav-container>
