<mat-grid-list cols="3" rowHeight="500px" >
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>

    <div class="example-container">

      <mat-form-field>
        <input [(ngModel)]="objectUser.user" matInput placeholder="Nombre" name="user">
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="objectUser.password" matInput placeholder="Contrasena" type="password" name="password">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Confirmar contrasena" type="password" name="passwordConfirm" >
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="objectUser.position" matInput placeholder="Puesto" name="position">
      </mat-form-field>

      <mat-form-field>
          <mat-select placeholder="Rango">
            <mat-option *ngFor="let list of position " [value]="list.tipo">
              {{list.tipo}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="handleSendUser()">Crear</button>
        <button mat-raised-button color="danger" [routerLink]="['/backend/usuarios']">Volver</button>
    </div>
  </mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
